/* 脚部 */
footer {
  background-color: #29b078;
  color: #fff;
}
footer .box {
  border-bottom: 1px solid #32c086;
}
footer .box .top {
  display: flex;
  justify-content: space-between;
  font-size: .14rem;
}
footer .box .top .container {
  width: 97%;
  display: flex;
  justify-content: space-between;
}
footer .box .top .container .first {
  margin: .37rem 0;
}
footer .box .top .container .first .up {
  margin-bottom: .65rem;
}
footer .box .top .container .first .down a {
  color: #fff;
}
footer .box .top .container .second {
  margin: .37rem 0;
  flex: 1;
  padding-left: 10%;
}
footer .box .top .container .second .up {
  margin-bottom: 0.3rem;
}
footer .box .top .container .second .down a {
  color: #fff;
}
footer .box .top .container .second .down p {
  line-height: 0.4rem;
}
footer .box .top .container .third {
  margin-top: .37rem;
  float: right;
}
footer .box .top .container .third p {
  margin-bottom: 0.05rem;
}
footer .box .top .container .third img {
  width: 0.92rem;
  height: 0.92rem;
}
footer .bottom {
  background-color: #29b078;
  text-align: center;
  padding-top: .1rem;
  font-size: .12rem;
  padding-bottom: .1rem;
}
footer .bottom span {
  margin: .05rem ;
}
@media screen and (max-width: 768px) {
  .col-xs-12 {
    width: 100%;
  }
  footer .box .top .container {
    display: block;
  }
  footer .box .top .container .second {
    padding-left: 0;
  }
}
