@charset "UTF-8";
/*清除样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, a, p, textarea {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  border: none;
}

/*css样式表*/
/*css为clearfix，清除浮动*/
.clearfix::before,
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

.hide {
  display: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.df {
  display: flex;
}

.jsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.m0a {
  margin: 0 auto;
}

body {
  font-family: "微软雅黑";
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 44.44444px !important;
  }
}

@media only screen and (min-width: 375px) {
  html {
    font-size: 52.08333px !important;
  }
}

@media only screen and (min-width: 425px) {
  html {
    font-size: 59.02778px !important;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 106.66667px !important;
  }
}

header {
  width: 100%;
  padding: 0.2rem 0;
  background-color: #29bde0;
  position: fixed;
  top: 0;
  font-size: 0.34rem;
  color: #fff;
  z-index: 99;
}
